
/* html {
  background-color: #282c34;
} */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link, .titleManual {
  color: #61dafb;
}


p, ul {
  font-size: 1rem;
  text-align: left;
  margin: 12px 32px;
}

pre {
  padding:10px 10px;
  max-width:960px;
  margin:10 auto;
  padding: 10px 15px;
	overflow: auto;
  display: block; 
  background-color: #1d1f20; 
  height:auto;
  color: #fff;
}

.logo {
  padding: 0;
  margin: 0 auto;
  position: absolute;
}